.navBar {
  display: flex;
  position: fixed;
  top: 0;
  height: fit-content;
  background-color: rgb(83, 166, 255);
  width: 100%;
  padding: 0 4rem;
}

.nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 40px;
  font-weight: bold;
  align-items: center;;
}

.navLinks {
  color: white;
  height: 100%;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.navLinks:hover {
  background-color: rgb(41, 144, 255);
}